@model XML.Company.Models.Invoice

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Home/Index.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.MessageId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MessageId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PIBSupplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PIBSupplier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyerAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyerAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyerAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyerAccount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoodsValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoodsValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServicePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServicePrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
