@model IEnumerable<XML.Company.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MessageId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PIBSupplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuyerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuyerAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuyerAccount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoodsValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServicePrice)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PIBSupplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodsValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
